$navbar-default-bg: #bfff00;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.8em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.right {
  text-align: right;
}

.jumbotron {
  background-image: asset-url('blogpic.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #8c8c8c;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #8c8c8c;
}