<div class="container">
  <footer class="footer">
    <small>
      Olli Kontkanen, Ruby on Rails learning project c. 12/2015
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>